<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884209790180-825oqee6tplqkck5668ivukgm570ge0e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884209790180-825oqee6tplqkck5668ivukgm570ge0e</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884209790180-oe99meqpt8g1h94qqv0thprq76731c4c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxW8bHLAjlSxuyEMsVPYtFGo1DEAO98nk</string>
	<key>GCM_SENDER_ID</key>
	<string>884209790180</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rateet</string>
	<key>PROJECT_ID</key>
	<string>rateet-44cbf</string>
	<key>STORAGE_BUCKET</key>
	<string>rateet-44cbf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884209790180:ios:3b0b02a25e6f0553a450f1</string>
</dict>
</plist>